<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width">
  <title>Urlaubsglück</title>
  <link rel="stylesheet" href="dist/css/style.min.css">
  <!--[if lt IE 9]>
  <link href="dist/css/ie8.css" rel="stylesheet" type="text/css" />
  <script type="text/javascript" src="dist/js/ie/html5shiv.min.js"></script>
  <script src="dist/js/ie/respond.min.js"></script>
  <![endif]-->
  <script src="src/js/libs/jquery.min.js"></script>
  <script src="src/js/libs/isotope.pkgd.min.js"></script>
  <script src="src/js/libs/packery-mode.pkgd.min.js"></script>
  <script src="src/js/libs/jquery.jcarousel.min.js"></script>
  <script src="src/js/libs/tmpl.js"></script>
  <script src="src/js/libs/jquery.xdomainrequest.min.js"></script>
  <script src="src/js/js.js"></script>
  <!-- <script src="dist/js/js.min.js"></script> -->

</head>
<body>
    <section class="intro">
        <div class="wrapper">
            <header>
                <div class="header__actions">
                    <a href="#" class="button">Log in</a>
                    <a href="#" class="button button-white">Sign up</a>
                </div>
                <a href="#" class="logo header__logo" title="URLAUBSGLÜCK">URLAUBSGLÜCK</a>
            </header>
            <div class="header__content">
                <h1 class="header__title">Share your holiday dreams</h1>
                <p class="header__subtitle subtitle">And find the perfect partner to fullfill it.</p>
                <a href="#" class="header__button button-red">Find your holiday partner</a>
            </div>
        </div>
    </section>
    <section class="work">
        <div class="wrapper">
            <h3 class="work__title title">How Urlaubsglück works?</h3>
            <div class="jcarousel-wrapper">
                <div class="jcarousel">
                    <ul class="work__list">
                        <li class="work__steps step">
                            <img src="dist/img/picOne.jpg" alt="picture" class="step__pict">
                            <span class="step__link">Step 1</span>
                            <h4 class="step__title">Sed leo enim, condimentum</h4>
                            <p>Quisque libero libero, dictum non turpis in, luctus semper
                                lorem. Donec rhoncus a leo sit amet facilisis.</p>
                        </li>
                        <li class="work__steps step">
                            <img src="dist/img/picTwo.jpg" alt="picture" class="step__pict">
                            <span class="step__link step__link-two">Step 2</span>
                            <h4 class="step__title step__title-two">Morbi velit risus</h4>
                            <p>Nulla venenatis tempor dui in molestie. Nulla quis dictum purus, sit amet porttitor est.</p>
                        </li>
                        <li class="work__steps step">
                            <img src="dist/img/picThree.jpg" alt="picture" class="step__pict">
                            <span class="step__link">Step 3</span>
                            <h4 class="step__title">Sed leo enim, condimentum</h4>
                            <p>Quisque libero libero, dictum non turpis in, luctus semper
                                lorem. Donec rhoncus a leo sit amet facilisis.</p>
                        </li>
                    </ul>
                    <a class = "jcarousel-prev" href="#"></a>
                    <a class = "jcarousel-next" href="#"></a>
                </div>
            </div>
            <div class="jcarousel-wrapper">
                <div class="jcarousel">
                    <ul class="work__list work__list-two">
                        <li class="work__steps step">
                            <img src="dist/img/picTwo.jpg" alt="picture" class="step__pict">
                            <span class="step__link step__link-two">Step 2</span>
                            <h4 class="step__title step__title-two">Morbi velit risus</h4>
                            <p>Nulla venenatis tempor dui in molestie. Nulla quis dictum purus, sit amet porttitor est.</p>
                        </li>
                        <li class="work__steps step">
                            <img src="dist/img/picThree.jpg" alt="picture" class="step__pict">
                            <span class="step__link">Step 3</span>
                            <h4 class="step__title">Sed leo enim, condimentum</h4>
                            <p>Quisque libero libero, dictum non turpis in, luctus semper
                                lorem. Donec rhoncus a leo sit amet facilisis.</p>
                        </li>
                        <li class="work__steps step">
                            <img src="dist/img/picOne.jpg" alt="picture" class="step__pict">
                            <span class="step__link">Step 1</span>
                            <h4 class="step__title">Sed leo enim, condimentum</h4>
                            <p>Quisque libero libero, dictum non turpis in, luctus semper
                                lorem. Donec rhoncus a leo sit amet facilisis.</p>
                        </li>
                    </ul>
                    <a class = "jcarousel-prev" href="#"></a>
                    <a class = "jcarousel-next" href="#"></a>
                </div>
            </div>
            <div class="jcarousel-wrapper">
                <div class="jcarousel">
                    <ul class="work__list work__list-three">
                        <li class="work__steps step">
                            <img src="dist/img/picThree.jpg" alt="picture" class="step__pict">
                            <span class="step__link">Step 3</span>
                            <h4 class="step__title">Sed leo enim, condimentum</h4>
                            <p>Quisque libero libero, dictum non turpis in, luctus semper
                                lorem. Donec rhoncus a leo sit amet facilisis.</p>
                        </li>
                        <li class="work__steps step">
                            <img src="dist/img/picOne.jpg" alt="picture" class="step__pict">
                            <span class="step__link">Step 1</span>
                            <h4 class="step__title">Sed leo enim, condimentum</h4>
                            <p>Quisque libero libero, dictum non turpis in, luctus semper
                                lorem. Donec rhoncus a leo sit amet facilisis.</p>
                        </li>
                        <li class="work__steps step">
                            <img src="dist/img/picTwo.jpg" alt="picture" class="step__pict">
                            <span class="step__link step__link-two">Step 2</span>
                            <h4 class="step__title step__title-two">Morbi velit risus</h4>
                            <p>Nulla venenatis tempor dui in molestie. Nulla quis dictum purus, sit amet porttitor est.</p>
                        </li>
                    </ul>
                    <a class = "jcarousel-prev" href="#"></a>
                    <a class = "jcarousel-next" href="#"></a>
                </div>
            </div>
        </div>
    </section>
    <section class="partners">
        <div class="wrapper">
            <h3 class="partners__title title">Meet a partner for your best holiday</h3>
            <ul class="partners__list">
                <li class="partners__item">
                    <div class="partners__block tv">
                        <img src="dist/img/photoOne.jpg" class="partners__img" alt="photo">
                        <div class="partners__block-icon"></div>
                    </div>
                    <div class="partners__content">
                        <h2>Bradley Hunter</h2>
                        <p>Based in Chicago. I love playing tennis and loud music.</p>
                    </div>
                </li>
                <li class="partners__item">
                    <div class="partners__block liquid">
                        <img src="dist/img/photoTwo.jpg" class="partners__img" alt="photo">
                        <div class="partners__block-icon"></div>
                    </div>
                    <div class="partners__content">
                        <h2>Lucas Marsha</h2>
                        <p>I get my inspiration from nature and objects around me.
                             I have a passion to colours, typography and skateboards.</p>
                    </div>
                </li>
                <li class="partners__item">
                    <div class="partners__block cup">
                        <img src="dist/img/photoThree.jpg" class="partners__img" alt="photo">
                        <div class="partners__block-icon"></div>
                    </div>
                    <div class="partners__content">
                        <h2>Heather Walker</h2>
                        <p>I'm a happy person that loves cats and climbing on mountains.</p>
                    </div>
                </li>
                <li class="partners__item">
                    <div class="partners__block plane">
                        <img src="dist/img/photoFour.jpg" class="partners__img" alt="photo">
                        <div class="partners__block-icon"></div>
                    </div>
                    <div class="partners__content">
                        <h2>Bradley Hunter</h2>
                        <p>Based in Chicago. I love playing tennis and loud music.</p>
                    </div>
                </li>
            </ul>
            <a href="#" class="partners__button button-white">See other partners</a>
        </div>
    </section>
    <section class="activity">
        <div class="wrapper">
            <h3 class="activity__title title">Discover holiday activity ideas</h3>
            <div class="grid"></div>
        </div>
    </section>
    <section class="search">
        <div class="wrapper">
            <h3 class="search__title title">Discover holiday activity ideas</h3>
            <p class="subtitle subtitle-black search__subtitle">Hi! What are your holiday interests?</p>
            <form action="index.html" class="form search__form">
                <input class="input__form" type="text" placeholder="Enter your interest">
                <button class="button-red search__button">Search parthners</button>
            </form>
        </div>
    </section>
    <footer>
        <div class="wrapper footer__wrapper">
            <a href="" class="footer__logo logo">URLAUBSGLÜCK</a>
            <ul class="footer__list">
                <li class="footer__item">Company
                    <ul class="footer__submenu">
                        <li class="footer__submenu__item">About</li>
                        <li class="footer__submenu__item">Contacts</li>
                        <li class="footer__submenu__item">Press</li>
                        <li class="footer__submenu__item">Blog</li>
                    </ul>
                </li>
                <li class="footer__item">Partners</li>
            </ul>
            <div class="copyright">
                <span>designed by</span>
                <a href="#" class="copyright__logo"></a>
            </div>
        </div>
    </footer>
    <script type="text/template" id="activity__template">
        <div class="grid">
            <% for (var i = 0; i < data.hits.length; i++) { %>
                <% if (i === 4 || i === 5) { %>
                 <div class="grid-item grid-item--width2">
                <% } else { %>
                     <div class="grid-item">
                <% } %>
                     <img src="<%= data.hits[i].webformatURL %>">

                 </div>
            <% } %>
        </div>
    </script>
</body>
</html>
